

.container{
  font-family: 'Jura', sans-serif;
  color: black;
  position: absolute;
  width:100%;
	height:auto;
  display: inline-block;
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 50px;


  background-image: url(images/hero.jpg); /* fallback for older browsers */

  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url(images/hero.jpg);

}
.box h1 {
    text-align:right;
}
.titles{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding: 15px;
}

.text{
  font-size: 18px;
  text-align: justify;
}
